body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

html {
    background: url("../assets/background.jpeg") no-repeat center center fixed;
    background-size: cover;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.chatbox {
    position: absolute;
    bottom: 10%;
    right: 15%;
    border: 1px solid black;
    border-radius: 5px;
}

.sc-header--img {
    width: 50px;
}

.sc-user-input {
    border-top: 1px solid;
    text-align: left;
}
.sc-open-icon:hover, .sc-closed-icon:hover{
    cursor: pointer;
}
.sc-message--content{
    text-align: left;
}
.sc-user-input--file-icon-wrapper{
    display: none !important;
}
sc-user-input--send-icon-wrapper{
    display: block;
}

.LoginState{
    margin: 10%;
}
.dataField{
    height: 50px;
    margin: 10px 0;
    text-align: left;
    display: flex;
}
.dataField .inputLabel{
    height: 100%;
    flex: 1;
}
.dataField input{
    height: 100%;
    padding: 0 15px;
    flex: 2;
}
#customBtn {
    display: inline-block;
    background: white;
    color: #444;
    /*width: 190px;*/
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px #cccccc;
    white-space: nowrap;
    margin-top: 15%;
}
#customBtn:hover {
    cursor: pointer;
}
span.label {
    font-family: serif;
    font-weight: normal;
}
span.icon {
    background: url('../assets/fb.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
}